
<br>
<%= link_to 'Employees', employees_path %>
<br>
<%= link_to 'Clients', clients_path %>
<br>
<%= link_to 'Projects', projects_path %>
<br>
<%= link_to 'Income', employees_path %>
<br>
<%= link_to 'Expenses', employees_path %>