<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Expenses</th>            
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.expense %></td> 	    
      </tr>
    <% end %>
       <tr>
          <td><b>Total Expenses</b></td> 
          <td><b><%= @total_expenses %></b></td> 
       </tr>
  </tbody>
</table>