<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Income:</strong>
  <%= @project.income %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @project.expense %>
</p>

<!--<p>
  <strong>Client:</strong>
  <%# @project.client_id %>
</p> -->

<p>
  <strong>Project desc:</strong>
  <%= @project.project_desc %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
