<!DOCTYPE html>
<html>
	<head>
		<title>Task</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
<div class="container">
		<form class="form-horizontal">
			<fieldset>    
				<%= yield %>
			</fieldset>
		</form>
</div>
	</body>
</html>
